In [1]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
! pip install flask-pymongo

Requirement already satisfied: flask-pymongo in /Users/sking/opt/anaconda3/lib/python3.8/site-packages (2.3.0)
Requirement already satisfied: Flask>=0.11 in /Users/sking/opt/anaconda3/lib/python3.8/site-packages (from flask-pymongo) (1.1.2)
Requirement already satisfied: PyMongo>=3.3 in /Users/sking/opt/anaconda3/lib/python3.8/site-packages (from flask-pymongo) (3.12.0)
Requirement already satisfied: click>=5.1 in /Users/sking/opt/anaconda3/lib/python3.8/site-packages (from Flask>=0.11->flask-pymongo) (7.1.2)
Requirement already satisfied: Werkzeug>=0.15 in /Users/sking/opt/anaconda3/lib/python3.8/site-packages (from Flask>=0.11->flask-pymongo) (1.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in /Users/sking/opt/anaconda3/lib/python3.8/site-packages (from Flask>=0.11->flask-pymongo) (2.11.3)
Requirement already satisfied: itsdangerous>=0.24 in /Users/sking/opt/anaconda3/lib/python3.8/site-packages (from Flask>=0.11->flask-pymongo) (1.1.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/sking/opt/anaconda3/lib/python3.8/site-packages (from Jinja2>=2.10.1->Flask>=0.11->flask-pymongo) (1.1.1)

In [2]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Driver [/Users/sking/.wdm/drivers/chromedriver/mac64/92.0.4515.107/chromedriver] found in cache

In [3]:
# Visit the mars nasa news site
url = 'https://redplanetscience.com'
browser.visit(url)
# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [4]:
# Parse the HTML
html = browser.html
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('div.list_text')

In [5]:
slide_elem.find('div', class_='content_title')

In [6]:
# Use the parent element to find the first `a` tag and save it as `news_title`
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

"NASA's Curiosity Mars Rover Snaps Its Highest-Resolution Panorama Yet"

In [7]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

'To go along with the stunning 1.8-billion-pixel image, a new video offers a sweeping view of the Red Planet.'

### Featured Images

In [8]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [9]:
# Find and click the full image button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [10]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [11]:
# Find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars2.jpg'

In [13]:
# Use the base URL to create an absolute URL
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [14]:
#creating a new DataFrame from the HTML table. The Pandas function read_html()
df = pd.read_html('https://galaxyfacts-mars.com')[0]
#assign columns to the new DataFrame 
df.columns=['description', 'Mars', 'Earth']
#turning the Description column into the DataFrame's index
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [15]:
#convert our DataFrame back into HTML-ready code
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [16]:
#end the automated browsing session.
browser.quit()